#videobg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}
* {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
header{
    background-color: lighT pink;
    width: 100vw;
    padding: 23px;
    justify-content: space-between;
}
.banner{
    font-family: 'Segoe UI', sans-serif;
    margin-top: 10vw;
    color: rgb(255, 190, 203);
    padding: 5vw;
}
.bannerhead{
    color: azure;
    font-size: 50px;
    font-weight: 700;
}




#facebook{
    background-position: -439px -146px;
}
#youtube{
    background-position: -439px -221px;
}
#twitter{
    background-position: -66px -72px;
}
#gmail{
    background-position: -365px -221px;
}
.icon {
    background: url(images/sprite3.png);
    background-repeat: no-repeat;
    width: 66px;
    height: 66px;
    display: inline-block;
}
footer{
    text-align: center;
    position: fixed;
    bottom: 0vw;
    background-color: rgb(124, 107, 85);
    width: 100vw;
    display: inline-flex;
    background-color: white;
}
@media screen and (max-width: 640px){
    .pgtitle{
        background-color:rgb(82, 71, 56);
        color:rgb(255, 255, 255);
        padding: 1vw;
        font-size: 16px;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }

    .links{
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px black;
        z-index: 1;
    }
    .links a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display:block;

    }
     }
    .links a:hover {background-color: rgb(235, 213, 170);}
    .dropdown:hover .dropdown-content {display: block}
    .dropdown:hover .dropbtn {background-color:white;}
}
